.header {
  padding: 1rem;
  background-color: #004381;
  color: white;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  width:100%;
  font-size: 1.8rem;
}

.value--positive {
  color: #2CCC2C;
}

.value--negative {
  color: #D42020;
}